
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color:rgb(255, 151, 5);
    --main-color-d:rgba(255, 151, 5, 0.799);
    --btn-color:rgb(255, 242, 0);
    --blue:rgb(14, 0, 59);
    --black:#222;
    --white:#ffffff;
    --gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);

    --light-white:rgba(255, 255, 255, 0.201);
    --dark-bg:rgba(0,0,0,0.7);
    --light-bg:#eee;
    --light-blue-bg:#86edffb4;
    --border:0.1rem solid var(--black);
    --box-shadow:0 1rem 3rem rgba(0,0,0,0.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,0.3);    
}
.chatbot-popup ::-webkit-scrollbar {
    width: 6px; /* Makes the scrollbar thin */
}

.chatbot-popup ::-webkit-scrollbar-track {
    background-color: #fff; /* White background for the track */
}

.chatbot-popup ::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* Yellow color for the scrollbar */
    border-radius: 50px; /* Rounded edges for the scrollbar */
}




*{
    margin: 0;
    padding: 0;
    font-family: "inter",sans-serif;
    box-sizing: border-box;
}
body{
   
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
    background: linear-gradient(rgba(52, 2, 2, 0.338), rgba(0, 0, 0, 0.864)), url('img/wp.png');
}
body.show-chatbot .chatbot-popup{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
body.show-chatbot #chatbot-toggler{
    transform: rotate(90deg);
}
#chatbot-toggler{
    position: fixed;
    bottom: 30px;
    right: 50px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background:var(--main-color);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.519), 0 2px 4px -8px black;
}
#chatbot-toggler span{
    color: white;
    position: absolute;
}
body.show-chatbot #chatbot-toggler span:first-child,
#chatbot-toggler span:last-child{
    opacity: 0;
}
body.show-chatbot #chatbot-toggler span:last-child{
    opacity: 1;
}
.chatbot-popup{
    background: linear-gradient(rgba(52, 2, 2, 0.338), rgba(0, 0, 0, 0.864)), url('img/cb.jpg');
    background-size: cover;
    background-position: center; 
    right: 50px;
    bottom: 100px;
    position: fixed;
    width: 420px;
    height: 570px;
    overflow: hidden;
    
    border-radius: 15px;
    opacity: 0;
    transform: scale(0.2);
    transform-origin: bottom right;
    pointer-events: none;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.621), 0 2px 4px -8px black;
    transition: all 0.2s ease;
    z-index: 2;
   
}  
 .chat-header{
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(255, 151, 5, 0.766),rgba(255, 151, 5, 0.892)), url('img/de.png');
    background-size: cover;
    background-position: center; 
    padding: 15px 22px;
    position: relative;
    justify-content: space-between;
    box-shadow: 0 0 18px 0 rgb(0, 0, 0), 0 2px 4px -8px black;
 }


 .chat-header .header-info{
    display: flex;
    gap: 10px;
    align-items: center;
 }
 .chat-header .header-info .chatbot-logo{
    height: 35px;
    width: 35px;
    padding: 7px;
    fill: rgb(0, 15, 15);
    flex-shrink: 0;
    background: white;
    border-radius: 50%;
 }
 .chatbot-popup .chat-header .header-info H1{
    font-weight: 1000;
    color: white;
 }
 .chatbot-popup .chat-header .header-info H1 span{
    font-weight: 1000;
    color: rgb(0, 0, 0);
 }
 .chat-header #close-chatbot{
    border: none;
    color: white;
    height: 35px;
    width: 35px;
    font-size: 25px;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    border-radius:50% ;
    background-color: var(--main-color);
    transition: 0.5s;
 }
 .chat-header #close-chatbot:hover{
    background: rgb(165, 80, 5);
    font-size: 16px;
 }
 .chat-body{
    padding: 20px;
    padding-bottom: 40px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow: auto;
  
 }
 .chat-body .bot-message{
    display: flex;
    gap: 11px;
    align-items: center;
 

 }

 .chat-body .bot-message .message-text{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    max-width: 75%;
    font-size: 12px;
    font-weight: 500;
    background: var(--main-color);
    border-radius: 13px 13px 13px 3px;
    border: 1px solid var(--black);
 }
 .chat-body .bot-message .bot-avatar{
    height: 35px;
    width: 35px;
    padding: 7px;
    fill: rgb(255, 255, 255);
    flex-shrink: 0;
    margin-bottom: 2px;
    align-self: flex-end;
    background: var(--main-color);
    border-radius: 50%;
 }
 .chat-body .user-message{
    flex-direction: column;
    align-items: end;
    justify-items: end;
    margin-bottom: 10px;
 }
 .chat-body .user-message .message-text{
    color: white;
    padding: 12px 16px;
    max-width: 75%;
    font-size: 12px;
    font-weight: 500;
    background: rgb(0, 0, 0);
    border-radius: 13px 13px 3px 13px;
    border: 1px solid var(--main-color);
 }
 .chat-body  .thinking .message-text{
    display: flex;
  
    gap: 8px;
    padding-block: 15px;
 }
 .chat-body .thinking .message-text .dot{
    height: 4px;
    width: 4px;
    opacity: 0.7;
    background: black;
    border-radius: 50%;
    animation: dotPulse 1.8s ease-in-out infinite;
 }
 .chat-body .thinking .message-text .dot:nth-child(1){
    animation-delay: 0.2s;
 }
 .chat-body .thinking .message-text .dot:nth-child(2){
    animation-delay: 0.3s;
 }
 .chat-body .thinking .message-text .dot:nth-child(3){
    animation-delay: 0.4s;
 }
 @keyframes dotPulse{
    0%, 44%{
        transform: translateY(0);
    }
    28%{
        opacity: 0.4;
        transform: translateY(-4px);
    }
    44%{
        opacity: 0.4;
        transform: translateY(-4px);
    }
 }
 .chat-footer{
    padding: 10px 15px 10px 20px;
    bottom: 0;
    left: 0;
    display: flex;
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0), 0 2px 4px -8px black;
 }
 .chat-footer .chat-form{
    padding: 2px 5px 2px 5px;
    display: flex;
    width: 100%;
    border-radius: 35px;
    position: relative;
    background: white;
    outline: 0.1px solid rgb(7, 7, 1);
    align-items: center;
    justify-items: center;
 }
 .chat-footer .chat-for:focus-within{
    outline: 1px solid black;
 }
 .chat-footer .chat-form .message-input{
    border: none;
    outline: none;
    height: 10px;
    width: 100%;
    resize: none;
    font-size: 10px;
    padding: 5px 0 13px 18px;
    border-radius: inherit;
    overflow: hidden;
 }
 .chat-footer .chat-form .chat-controls{
    display: flex;
    height: 32px;
    text-align: center;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
 }
 .chat-footer .chat-form .chat-controls .file-upload-wrapper{
    display: flex;
    height: 32px;
    text-align: center;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
 }
 .chat-footer .chat-form .chat-controls button{
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    color: black;
    background: none;
    border-radius: 50%;
    transition: 0.2s ease;
    
}
.chat-footer .chat-form .chat-controls button:hover{
    background:var(--main-color);
}
.chat-footer .chat-form .chat-controls #submit{
    background:rgb(0, 0, 0);
    color: var(--main-color);
    display: none;
}
.chat-footer .chat-form .message-input:valid~.chat-controls #submit{
   
    display: block;
}

.chat-form .file-upload-wrapper #file-cancel{
    color: red;
    background: white;
}
.chat-form .file-upload-wrapper :where(img, button){
    position: absolute;
}
.chat-form .file-upload-wrapper :where(img,#file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload{
    display: none;
}

.chat-form .file-upload-wrapper.file-uploaded img,
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel{
    display: block;
}

em-emoji-picker{
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    visibility: hidden;
    transform: translateX(-50%);
}
body.show-emoji-picker em-emoji-picker{
    visibility: visible;
} 
.chat-body .user-message .attachment {
    width: auto;
    max-width: 75%;
    padding-top: 10px; 
    border-radius: 13px 3px 13px 13px;
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    align-self: flex-end; 
}


.chat-form .file-upload-wrapper{
    height: 35px;
    width: 35px;
    position: relative;
   
}
.chat-form .file-upload-wrapper img{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chat-form .file-upload-wrapper.file-uploaded img{
    display: block;
}




































  @keyframes fadeIn{
      0%{
          transform: scale(0.5s);
          opacity: 0;
      }
  }
  section{
    padding: 5rem 10%;
}
  .btn{
      display: inline-block;
      
      margin-top: 1rem;
      color: var(--main-color);
      font-size: 1.5rem;
      padding: 1rem 2em;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s;
      border: 1px solid var(--main-color);
      box-shadow: var(--box-shadow);
      border-radius: 5px;
      z-index: 2;
  }
  .btn:hover{
      background-color: var(--main-color);
      font-size: 1.5rem;
      border: 1px solid  rgb(14, 0, 59);
      color: var(--black);
  }
  .heading-title{
      text-align: center;
      margin-bottom: 3rem;
      font-size: 5rem;
      text-transform: uppercase;
  }
  .header{
      position: sticky;
      top: 0; left: 0; right: 0;
      z-index: 1000;
      background: rgb(0, 0, 0);
      position: fixed;
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      box-shadow: var(--box-shadow);
      align-items: center;
      justify-content: space-between;
     z-index: 1;
  }
  #log-btn{
      font-size: 14px;
      color: var(--main-color);
  }
  
  .header .logo{
      font-size: 20px;
      font-weight: bold;
      color: var(--main-color);
      text-decoration: none;
      
  }
  .header span{
      color: var(--white);
  }
  
  .header .navbar a{
      font-size: 12px;
      margin-left: 2rem;
      font-weight: bold;
      color: var(--white);
      text-decoration: none;
  }
  .header .navbar a:hover{
      color: var(--main-color);
  }
  #menu-btn{
      font-size: 1.3rem;
      cursor: pointer;
      color: var(--main-color);
      display: none;
  }

  .home{
    padding-top: 160px;
  }

  .home h1{
    margin-top: 20px;
    display: flex;
    font-size: 100px;
    color: var(--main-color);
    font-weight: 900;
    align-items: center;
    text-align: center;
  }


  @media (max-width:768px){
    #menu-btn{
         display: inline-block;
         transition: 0.2s linear;
         left: 90%;
    }
    
    #menu-btn.fa-times{
        transform: rotate(360deg);
    }
    
    .header .navbar{
        color: var(--blue);
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--blue);
        border-top: var(--border);
        padding: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }
  
    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
  .home{
    height: auto;
  }
  .chatbot-popup{
    height: 555px;
    width: 400px;
    padding-bottom: 50px;
  }
  .chatbot-popup .chat-body{  
    padding-bottom: 50px;
  }
}
